.home-page-menu-item {
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}


.hidden {
    display: none;
}

.card-with-padding {
    padding: 5px;
}

.height-seventy {
    height: 70%;
}

.dev-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.card.tiny {
  height: 200px;
}


.no-text-decoration {
    text-decoration: none;
}

.screen-unit {
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

#password-reset-box {
	display: none;
}


.profile-picture {
	height: auto;
	width: 200px;
}
